---
---
<!DOCTYPE html>
<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <title>Temur REN UZ</title>
  </head>
  <body>
    <h1>Salom! 👋</h1>
    <p>Bu mening birinchi Netlify + Astro saytim.</p>
  </body>
</html>

